<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>university.com</title>
    <div style="text-align:center">

      <div class="seven">
        <h1>Zewail City University Dashboard</h1>
      </div>

    </div>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src = "/static/gpa.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/chart2.js"></script>
    <script src="/static/grade.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div>
      <div class="continer">
        <div class="column" id="chartdiv"></div>
        <div class="column" id="datadiv"></div>
      </div>
      <div class="continer">
        <div class="column" id="gradediv"></div>
        <div class="column" id="gpadiv"></div>
      </div>
    </div>
  </body>
</html>

